{% extends 'base_generic.html' %} {% block content %}
<div class="container">
	<h1>{{ ticket.title }}</h1>
	<div class="row">
		<p class="col-3"><strong>Description:</strong> {{ ticket.description }}</p>
		<p class="col-3"><strong>Priority:</strong> {{ ticket.get_priority_display }}</p>
		<p class="col-3"><strong>Creator:</strong> {{ ticket.creator.first_name }} {{ ticket.creator.last_name }}</p>
		<p class="col-3"><strong>Created at:</strong> {{ ticket.created_at }}</p>
	</div>

	<hr />

	<!-- Display ticket status -->
	<div class="row">
		<div class="col-6">
			<h2>Ticket Status</h2>
			<p><strong>Status:</strong> {{ ticket.get_status_display }}</p>
		</div>
		<div class="col-6">
			{% if user in ticket.assigned_users.all or user.is_superuser %}
			<!-- Form to update ticket status -->
			<h2>Change Ticket Status</h2>
			<form method="POST">
				{% csrf_token %} {{ status_form.as_p }}
				<button type="submit" name="update_status" class="btn btn-primary">Update Status</button>
			</form>
			{% endif %}
		</div>
	</div>

	<hr />

	<!-- Activity Form -->
	<div class="row">
		<div class="col-6">
			<h2>Activities</h2>
			<form method="POST">
				{% csrf_token %} {{ activity_form.as_p }}
				<button type="submit" class="btn btn-primary">Add Activity</button>
			</form>
		</div>
		<div class="col-6">
			<h3>Ticket Activities</h3>
			<ul>
				{% for activity in activities %}
				<li
					>{{ activity.user }}: {{ activity.activity_type }}, {{activity.description}} at {{ activity.created_at }}</li
				>
				{% empty %}
				<li>No activities yet.</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<hr />

	{% if user.is_superuser %}
	<!-- Assigned Users List -->
	<div class="row">
		<h3>Assigned Users</h3>
		<ul>
			{% for assignment in ticket.assignments.all %}
			<li>{{ assignment.user.first_name }} {{ assignment.user.last_name }}</li>
			{% empty %}
			<li>No users assigned yet.</li>
			{% endfor %}
		</ul>

		<!-- Link to Assign Users to Ticket -->
	</div>
	<a href="{% url 'assign_ticket' ticket.uuid %}" class="btn btn-secondary">Assign Users</a>
	<hr />
	{% endif %}
</div>

<!-- WebSocket for real-time updates -->
<script>
	const ticketSocket = new WebSocket('ws://' + window.location.host + '/ws/tickets/');

	ticketSocket.onmessage = function (e) {
		const data = JSON.parse(e.data);
		const message = data.message;

		// Update the ticket's activities list in real-time
		const activityList = document.querySelector('ul');
		const newActivity = document.createElement('li');
		newActivity.innerHTML = message;
		activityList.appendChild(newActivity);
	};

	ticketSocket.onclose = function (e) {
		console.error('Ticket WebSocket closed unexpectedly');
	};
</script>

{% endblock %}
